/* Base Application Styles */
body {
  color: #fff;
  background: #222;
  padding: 20px;
  width: 100%;
  max-width: 810px;
}

.index img {
  margin: 40px auto;
  border-radius: 4px;
  background: #fff;
  display: block;
}

.index .notice {
  margin: 20px auto;
  padding: 15px 0;
  text-align: center;
  border: 1px solid #000;
  border-width: 1px 0;
  background: #666;
}

.task-form {
  margin: 40px 0 10px;
}

.task-form__input {
  outline: none;
  border: 0;
  border-bottom: 1px dotted #666;
  border-radius: 0;
  padding: 0 0 5px 0;
  width: 100%;
  height: 50px;
  font-family: inherit;
  font-size: 1.5rem;
  font-weight: 300;
  color: #fff;
  background: transparent;
  -webkit-font-smoothing: antialiased;
}

.task-list {
  border-top: 1px dotted #666;
}

.task-item {
  display: flex;
  outline: none;
  border-bottom: 1px dotted #666;
  height: 60px;
  overflow: hidden;
  color: #fff;
  font-size: 1.125rem;
  font-weight: 300;
}

.task-item .cell {
  display: flex;
  flex: 0 0 auto;
  align-items: center;
}

.task-item .cell:first-child,
.task-item .cell:last-child {
  display: flex;
  flex: 0 0 auto;
  align-items: center;
}

.task-item .cell:first-child {
  padding-right: 20px;
}

.task-item .cell:nth-child(2) {
  flex: 1;
  padding-right: 30px;
  overflow: hidden;
}

.task-item__button {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  margin-left: 5px;
  outline: none;
  border: 0;
  border-radius: 6px;
  padding: 0;
  height: 40px;
  overflow: hidden;
  background: #2a2a2a;
  transform: translate(0, 0);
  cursor: pointer;
}

.task-item__button :first-child {
  margin: 0;
}

.icon {
  line-height: 40px !important;
  color: #555;
}

.task-item__button:hover .icon {
  color: #999;
}

.icon--active,
.task-item__button:hover .icon--active {
  color: #85bf6b;
}

@keyframes fade-title {
  from {
    color: #fff;
  }
  to {
    color: #666;
  }
}

@keyframes strike-title {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

.task-item__title {
  display: inline-block;
  position: relative;
  max-width: 100%;
  line-height: 60px;
  outline: none;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

}

.task-item__title :after {
  position: absolute;
  left: 0;
  bottom: 0;
  border-top: 2px solid #85bf6b;
  width: 0;
  height: 46%;
  content: '';
}

.task-item--completed .task-item__title {
  color: #666;
  text-decoration: line-through;
}

.task-item--completed .task-item__title:after {
  width: 100%;
}

.task-item--completed.task-item--status-updated .task-item__title {
  animation: fade-title 120ms ease-in-out;
}

.task-item--completed.task-item--status-updated .task-item__title:after {
  animation: strike-title 180ms ease-in-out;
}

.task-list {
  border-top: 1px dotted #666;
}

.task-filters {
  margin-bottom: 45px;
  padding-left: 1px;
  font-size: 1rem;
  line-height: 24px;
  list-style-type: none;
}

.task-filters li {
  float: left;
}

.task-filters li:not(:first-child) {
  margin-left: 12px;
}

.task-filters li:not(:first-child):before {
  padding-right: 12px;
  content: '/';
  font-weight: 300;
}

.task-filters a {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

.task-filters a.active {
  color: #fff;
  cursor: default;
}
